<h2>Basic sizing - row</h2>
<h4>El fxFlex como default da un espacio igual a todos los elementos</h4>

<div fxLayout="row">
  <mat-card fxFlex="25%">
    <p>fxFlex="25%"</p>
  </mat-card>
  <mat-card fxFlex="40%">
    <p>fxFlex="40%"</p>
  </mat-card>
  <mat-card fxFlex="15%">
    <p>fxFlex="25%"</p>
  </mat-card>
  <mat-card fxFlex="20%">
    <p>fxFlex="20%"</p>
  </mat-card>
</div>

<h2>Basic sizing - column</h2>
<h4>El fxFlex como default da un espacio igual a todos los elementos</h4>

<div fxLayout="column" style="height: 75vh;">
  <mat-card fxFlex="25%">
    <p>fxFlex="25%"</p>
  </mat-card>
  <mat-card fxFlex="40%">
    <p>fxFlex="40%"</p>
  </mat-card>
  <mat-card fxFlex="15%">
    <p>fxFlex="25%"</p>
  </mat-card>
  <mat-card fxFlex="20%">
    <p>fxFlex="20%"</p>
  </mat-card>
</div>

<h2>Spacer row</h2>
<h4>El fxFlex como default da el espaciado para empujar contenido siendo flex: 1 1 auto</h4>

<div fxLayout="row" >
  <p>Something here</p>
  <!-- <p style="flex: 1 1 auto"></p> -->
  <div fxFlex></div>
  <p>Logout</p>
</div>


<h2>Spacer - column</h2>
<div fxLayout="column" style="height: 25vh;">
  <p>Something here</p>
  <!-- <p style="flex: 1 1 auto"></p> -->
  <div fxFlex></div>
  <p>Logout</p>
</div>

<h2>Grow items - row</h2>
<h4>Se le dice al objeto, cuando tengas espacio, crece por un factor x</h4>
<h5>fxFlex="3 1 auto"</h5>

<div fxLayout="row">
  <mat-card fxFlex="1 1 auto">
    <p>fxFlex="25%"</p>
  </mat-card>
  <mat-card fxFlex="3 1 auto">
    <p>fxFlex="40%"</p>
  </mat-card>
  <mat-card fxFlex>
    <p>fxFlex="25%"</p>
  </mat-card>
  <mat-card fxFlex>
    <p>fxFlex="20%"</p>
  </mat-card>
</div>

<h2>Shrink items - row</h2>
<h4>Se le dice al objeto, cuando tengas espacio, redúcete por un factor x</h4>
<h5>fxFlex="0 3 auto"</h5>

<div fxLayout="row">
  <mat-card fxFlex="1 1 auto">
    <p>fxFlex="25%"</p>
  </mat-card>
  <mat-card fxFlex="0 3 auto">
    <p>fxFlex="0 3 auto"</p>
  </mat-card>
  <mat-card fxFlex="1 1 auto">
    <p>fxFlex="25%"</p>
  </mat-card>
  <mat-card fxFlex="1 1 auto">
    <p>fxFlex="25%"</p>
  </mat-card>
</div>

<h2>Order - row</h2>
<h4>fxFlexOrder="#"</h4>

<div fxLayout="row">
  <mat-card fxFlexOrder="3">
    <p>1</p>
  </mat-card>
  <mat-card fxFlexOrder="2">
    <p>2</p>
  </mat-card>
  <mat-card fxFlexOrder="4">
    <p>3</p>
  </mat-card>
  <mat-card fxFlexOrder="1">
    <p>4</p>
  </mat-card>
</div>

<h2>Offset - row</h2>
<h4>fxFlexOffset="#%"</h4>

<div fxLayout="row">
  <mat-card fxFlexOffset="45px">
    <p>1</p>
  </mat-card>
  <mat-card>
    <p>2</p>
  </mat-card>
  <mat-card fxFlexOffset="20%">
    <p>3</p>
  </mat-card>
  <mat-card>
    <p>4</p>
  </mat-card>
</div>

<h2>Flex Align - row</h2>
<h4>fxFlex fxFlexAlign="start"</h4>

<div fxLayout="row" style="height: 74vh">
  <mat-card fxFlex fxFlexAlign="start">
    <p>1</p>
  </mat-card>
  <mat-card fxFlex fxFlexAlign="center">
    <p>2</p>
  </mat-card>
  <mat-card fxFlex fxFlexAlign="end">
    <p>3</p>
  </mat-card>
</div>

<h2>Flex Fill  - row</h2>
<h4>fxFlexFill</h4>

<div fxLayout="row" style="height: 250px; width: 250px; border: white solid 3px;">
  <p style="background-color: teal">No fill</p>
</div>


<div fxLayout="row" style="height: 250px; width: 250px; border: white solid 3px;">
  <p style="background-color: teal" fxFlexFill>Fill</p>
</div>



