<h2>Layout Gap Row</h2>
<h4>fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px"</h4>

<div class="half" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>

<h2>Layout Gap Column</h2>
<h4>fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px"</h4>

<div class="half" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>

<h2>Layout Wrap row</h2>
<small>fxLayoutWrap esta obsoleto, usar el row "algo" para hacer el wrap</small>
<h4>fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px" </h4>

<div class="container-wrap" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>5</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>6</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>7</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>8</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>9</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>10</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>11</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>12</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>13</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>14</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>15</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>16</p>
  </mat-card>
</div>

<h2>Layout Wrap Column</h2>
<small>fxLayoutWrap esta obsoleto, usar el column "algo" para hacer el wrap</small>
<h4>fxLayout="column wrap" fxLayoutAlign="start start" fxLayoutGap="20px" </h4>

<div class="container-wrap" fxLayout="column wrap" fxLayoutAlign="start start" fxLayoutGap="20px">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>5</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>6</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>7</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>8</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>9</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>10</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>11</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>12</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>13</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>14</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>15</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>16</p>
  </mat-card>
</div>
