<div class="half" fxLayout fxLayoutAlign="end">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>

<div class="half" fxLayout="column" fxLayoutAlign="start">
  <mat-card class="mat-elevation-z8">
    <p>hello</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>how are you</p>
  </mat-card>

  <mat-card class="mat-elevation-z8">
    <p>bye</p>
  </mat-card>
</div>
