<!-- Crear una columna que encierra todo
   para que tome automáticamente todo el ancho
  de la pantalla -->

<mat-tab-group>
  <mat-tab label="Result">
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="center center" class="header">
        <h1>My app</h1>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column">
        <div fxLayout="column" fxLayout.lt-sm="row" fxFlex="25%" class="side-pane">
          <mat-card>Link 1</mat-card>
          <mat-card>Link 2</mat-card>
          <mat-card>Link 3</mat-card>
          <mat-card>Link 4</mat-card>
        </div>
        <div fxLayout="column" fxLayout.lt-sm="row" fxFlex="50%" class="main-content">
          <div fxLayout="row wrap" fxLayoutGap="0.5em">
              <mat-card>Link 1</mat-card>
              <mat-card>Link 2</mat-card>
              <mat-card>Link 3</mat-card>
              <mat-card>Link 4</mat-card>
              <mat-card>Link 5</mat-card>
              <mat-card>Link 6</mat-card>
              <mat-card>Link 7</mat-card>
              <mat-card>Link 8</mat-card>
              <mat-card>Link 9</mat-card>
              <mat-card>Link 10</mat-card>
              <mat-card>Link 1</mat-card>
          </div>
        </div>
        <div fxLayout="column"fxLayout.lt-sm="row" fxFlex="25%" class="side-pane">
            <mat-card>Add 1</mat-card>
            <mat-card>Add 2</mat-card>
            <mat-card>Add 3</mat-card>
            <mat-card>Add 4</mat-card>
        </div>

      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="footer">
        <h3>Footer</h3>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="code">
    <pre>
      <code>
          We have sent you a password reset email. Sometimes this email can take a few minutes to reach your inbox. It may also get redirected to your spam folder.

      </code>
    </pre>
  </mat-tab>
</mat-tab-group>
