<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar class="main" color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/basic-row">Basic Row</a>
      <a mat-list-item routerLink="/justifiying">Justifying Content</a>
      <a mat-list-item routerLink="/gap-wrap">Gap and Wrap</a>
      <a mat-list-item routerLink="/items-alignment">Items and Alignment</a>
      <a *ngIf="(isHandset$ | async)" mat-list-item routerLink="/holy-grail">Holy Grail</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="main" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>MatFlexAll</span>

      <span style="flex: 1 1 auto;"></span>
      <ul class="header-nav" *ngIf="!(isHandset$ | async)">
        <li>
          <a routerLink="/holy-grail">Holy Grail</a>
        </li>
      </ul>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Help</button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>
    <mat-toolbar color="primary">Trying hard</mat-toolbar>
    <!-- Add content here! -->
    <div fxLayout="column" style="padding: 1rem">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
