.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2)
}

.main {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  position: sticky;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hidden {
  display: none
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.header-nav li {
  display: inline-block;
  text-decoration: none;
}


/*
@media(min-width: 600px) {
  .sidenav {
    display: none;
  }
} */
