<h2>Left horizontal - Row</h2>
<h4>fxLayout="row" fxLayoutAlign="start start"</h4>

<div fxLayout="row" fxLayoutAlign="start start">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>

<h2>Rigth horizontal - Row</h2>
<h4>fxLayout="row" fxLayoutAlign="end start"</h4>

<div fxLayout="row" fxLayoutAlign="end start">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>

<h2>Left horizontal - column</h2>
<h4>fxLayout="column" fxLayoutAlign="start start"</h4>

<div fxLayout="column" fxLayoutAlign="start start">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>



<h2>Rigth horizontal - column</h2>
<h4>fxLayout="column" fxLayoutAlign="start end"</h4>

<div fxLayout="column" fxLayoutAlign="start end">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>


<h2>Top Vertical - row</h2>
<h4>fxLayout="row" fxLayoutAlign="start start"</h4>

<div class="half" fxLayout="row" fxLayoutAlign="start start">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>

<h2>Bottom Vertical - row</h2>
<h4>fxLayout="row-reverse" fxLayoutAlign="start end"</h4>

<div class="half" fxLayout="row-reverse" fxLayoutAlign="start end">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>


<h2>Centering - Horizontal- row</h2>
<h4>fxLayout="row" fxLayoutAlign="center start"</h4>

<div class="half" fxLayout="row" fxLayoutAlign="center start">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>

<h2>Centering - Vertical- row</h2>
<h4>fxLayout="row" fxLayoutAlign="start center"</h4>

<div class="half" fxLayout="row" fxLayoutAlign="start center">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>


<h2>Centering - all- row</h2>

<h4>fxLayout = row fxLayoutAlign="center center"</h4>

<div class="half" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>

<h2>Centering - Horizontal - column</h2>
<h4>fxLayout="column" fxLayoutAlign="start center"</h4>

<div class="half" fxLayout="column" fxLayoutAlign="start center">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>

<h2>Centering - Vertical - column</h2>
<h4>fxLayout="column" fxLayoutAlign="center start"</h4>

<div class="half" fxLayout="column" fxLayoutAlign="center start">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>

<h2>Centering - All - column</h2>
<h4>fxLayout="column" fxLayoutAlign="center center"</h4>

<div class="half" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>

<h2>Space Around - Row</h2>
<h4>fxLayout="row" fxLayoutAlign="space-around center"</h4>

<div class="half" fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>


<h2>Space Between - Row</h2>
<h4>fxLayout="row" fxLayoutAlign="space-between center"</h4>

<div class="half" fxLayout="row" fxLayoutAlign="space-between center">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>

<h2>Space Around - column</h2>
<h4>fxLayout="column" fxLayoutAlign="space-around center"</h4>

<div class="half" fxLayout="column" fxLayoutAlign="space-around center">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>


<h2>Space Between - column</h2>
<h4>fxLayout="column" fxLayoutAlign="space-between center"</h4>

<div class="half" fxLayout="column" fxLayoutAlign="space-between center">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>


<h2>Stretch - row</h2>
<h4>fxLayout="row" fxLayoutAlign="start", Sabiendo que el default en crossaxis es stretch</h4>

<div class="half" fxLayout="row" fxLayoutAlign="start">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>


<h2>Stretch - column</h2>
<h4>fxLayout="column" fxLayoutAlign="start"</h4>

<div class="half" fxLayout="column" fxLayoutAlign="start">
  <mat-card class="mat-elevation-z8">
    <p>1</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>2</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>3</p>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <p>4</p>
  </mat-card>
</div>
