<!-- Para contenedores el default es fxLayout = row -->
<div fxLayout>
  <mat-card>
    <p>hello</p>
  </mat-card>
</div>

<!-- La columna llenará el ancho total del elemento que lo contiene -->
<div fxLayout='column'>
    <mat-card>
      <p>hello</p>
    </mat-card>
  </div>
