/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';


html,
body {
  height: 100%;
  margin: 0px;
}

* {
  font-family: 'Open Sans', sans-serif;
}
