@import '~@angular/material/theming';

@include mat-core();

$my-theme-primary: mat-palette($mat-teal);
$my-theme-accent: mat-palette($mat-green);
$my-theme-warn: mat-palette($mat-red);
$my-theme: mat-dark-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

@include angular-material-theme($my-theme);

html,
body {
  height: 100%;
  margin: 0px;
}

* {
  font-family: 'Raleway', sans-serif;
}
