
<!-- El row renderiza no solo los elementos en orden inverso, sino que de
  derecha a izquierda tambien -->
<div fxLayout="row-reverse">
  <mat-card>
    <p>hello</p>
  </mat-card>
  <mat-card>
    <p>how are you</p>
  </mat-card>
  <mat-card>
    <p>bye</p>
  </mat-card>
</div>

<!-- la columna renderiza todo esto al revés -->
<div fxLayout='column-reverse'>
  <mat-card>
    <p>hello</p>
  </mat-card>
  <mat-card>
    <p>how are you</p>
  </mat-card>
  <mat-card>
    <p>bye</p>
  </mat-card>
</div>
